.u-full-width {
    width: 100%;
}
.u-max-full-width {
    max-width: 100%;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}
.u-text-center {
    text-align: center
}
.u-text-right {
    text-align: right
}
// 
// Spacing Utility
// 
.u-spacing-page-top {
    padding-top: 6rem;
}
// 
// Self Clearing Goodness 
// 
.container:after,
.pure-g:after,
.u-cf {
    @extend %clearfix
}
