<div class="container-narrow u-spacing-page-top">
  <h4 class="text-logo u-text-center">Forgot password</h4>
  <p class="u-text-center">To reset your password, enter your username or registered email address.</p>
  <div class="form-narrow">
    {{> flash}}
    <form class="login-forms" method="post" action="">
      <label for='name_email'>Username or Email address</label>
      <input class="u-full-width" type="text" id='name_email' name='name_email' required="true" autocorrect="off" autocapitalize="off" autofocus> 
      {{> form_security}}
      <input class="u-full-width button button--primary" type="submit" value="Submit">
    </form>
  </div>
</div>
