<div class="container-narrow u-spacing-page-top">
  <h4 class="text-logo u-text-center">Password Reset</h4>
  <p class="u-text-center">Reset your password</p>
  {{#if isValidToken}}
    <div class="form-narrow">
      {{> flash}}
      <form action='' method='post'>
        <label for="password">New Password</label>
        <input class="u-full-width" type="password" id="password" name="password" required="true" tabindex=3 />
        <label for="password">Verify new password</label>
        <input class="u-full-width" type="password" id="verify" name="verify" required="true" tabindex=4 />
        <input class="button button--primary u-full-width" type="submit" value="Submit" />
        {{> form_security}}
      </form>
    </div>
  {{else}}
    <h2>Token Invalid</h2>
    <p>You password rest token is invalid. Try generating a <a href="/forgot-password">new one</a>.</p>
  {{/if}}
</div>
