<div class="container narrow">

  <hgroup>
    <h1>Create an account</h1>
    <h2>signup all the way</h2>
  </hgroup>

  {{> errors}}

  <form action="" method="post">
    <label for="name">Username</label>
    <input type="text" id="name" name="name" autocorrect="off" autocapitalize="off" />

    <label for="password">Password</label>
    <input type="password" id="password" name="password" />

    <label for="verify">Verify password</label>
    <input type="password" id="verify" name="verify" />

    <label for="email">Email</label>
    <input type="text" id="email" name="email" autocorrect="off" autocapitalize="off"/>

    <input type="submit" class="full-width" value="Submit" />
    {{> form_security}}
  </form>

</div>
