.splash-image {
    max-width: 100%;
}
.splash-image-2 {
    max-width: 100%;
    width: 400px
}
.login-logo{
    max-width : 200px
}
.home-com{
    max-width: 100%;
    width: 750px;
    margin-top: 30px;
}
.home-section{
    margin-top: 130px;
}
