/* Copyright 2016 Infoclot Corporation

base.scss
Base styles. 
------------------------------------------------------------------------*/

html {
    font-size: 62.5%;
}
html,
* {
    box-sizing: border-box
}
body {
    font-family: $fontType--body;
    font-size: 1.5em; //Should be in sync with $fontSize-base
    line-height: 1.6;
    background-color: $color-background;
    color: rgba($color-foreground, 1);
    font-weight: $fontWeight-thinnest;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}
