/* Config
––––––––––––––––––––––––––––––––––––––––––––––––––*/

$metabar__height: 60px;
$metabar__menu-padding: 24px 15px 23px;
$metabar__navRightSpacing: $metabar__height*20/100;

/* Core
––––––––––––––––––––––––––––––––––––––––––––––––––*/

body {
    margin-top: $metabar__height;
}

.metabar {
    font-size: $fontSize--base;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $metabar__height;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15);
    @extend %clearfix;
}

.metabar__brand {
    display: inline-block;
    float: left;
    margin-top: -3px;
    height: $metabar__height;
}

.metabar__logo {
    max-height: 100%;
    padding: 15px;
}


/*--------[ Metabar Menu ]---------*/

.metabar__menu {
    margin-bottom: 0;
    font-size: .7em;
}

.metabar__menu .menu-item {
    font-size: 1.2em;
    line-height: 1.1rem;
    height: auto;
    padding: $metabar__menu-padding;
    letter-spacing: $letterSpacing--normal;
}


/*--------[ Metabar Right Menu ]---------*/

.metabar__nav {
    margin-left: $metabar__navRightSpacing;
    padding: $metabar__navRightSpacing 0;
}

.metabar__button {
    font-size: .7em;
    line-height: ($metabar__height*60/100)-2;
    height: $metabar__height*60/100;
    margin-bottom: 0;
    margin-left: 10px;
    border-radius: 999em;
}

.metabar__avatar {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    border: solid 1px rgba($color__foreground, .15);
    border-radius: 999em;
}

.metabar__avatar:hover,
.metabar__avatar:focus {
    border: solid 1px rgba($color__foreground, .3);
}
