<div class="honey">
  <label>If you are a robot, enter text here</label>
  {{!-- <input type="text" name="honey"> --}}
</div>

{{#if crumb}}
  <input type="hidden" name="crumb" value="{{crumb}}"/>
{{/if}}
