<header class="metabar">
  <div class="container-fluid">
    <a href="/" class="brand">
      Jolly
    </a>
    {{#if credentials}}
      <div class="metabar-nav-right u-pull-right">
        <div class="dropdown ">
          <button class="button avatar" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            R
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-pointing" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="/programs/new">New program</a>
            <div class="divider"></div>
            <a class="dropdown-item small" href="/me">Profile</a>
            <a class="dropdown-item small" href="/me/settings/profile">Settings</a>
            <a class="dropdown-item small" href="/logout">Logout</a>
          </div>
        </div>
      </div>
      <div class="menu menu--pointing">
        <a class="menu-item" href="">Overview</a>
      </div>
    {{else}}
      <div class="metabar-nav-right u-pull-right">
        <a class="button button-success" href="/login">Login</a>
      </div>
    {{/if}}
  </div>
</header>
